<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ZhangJiAttack (1).png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>ZhangJiAttack (2).png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>153</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>ZhangJiAttack (3).png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>ZhangJiAttack (4).png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>-58</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>ZhangJiAttack (5).png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>ZhangJiAttack (6).png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>ZhangJiAttack (7).png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>176</integer>
				<key>offsetX</key>
				<real>-40</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>ZhangJiAttack (8).png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>415</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>ZhangJiDead (1).png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>63</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>ZhangJiDead (2).png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>60</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>ZhangJiDead (3).png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>51.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>ZhangJiDead (4).png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>624</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>28.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>ZhangJiDead (5).png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>311</integer>
				<key>y</key>
				<integer>347</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>ZhangJiDead (6).png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>347</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-39</real>
			</dict>
			<key>ZhangJiDead (7).png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>776</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-49</real>
			</dict>
			<key>ZhangJiDead (8).png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>707</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-60</real>
			</dict>
			<key>ZhangJiHurt (1).png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>509</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>ZhangJiHurt (2).png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>509</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>ZhangJiHurt (3).png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>ZhangJiHurt (4).png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>311</integer>
				<key>y</key>
				<integer>479</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>ZhangJiHurt (5).png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>681</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>ZhangJiHurt (6).png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>479</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>ZhangJiHurt (7).png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>681</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>ZhangJiHurt (8).png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>476</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>ZhangJiStand (1).png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>668</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>ZhangJiStand (2).png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>427</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>ZhangJiStand (3).png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>866</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>ZhangJiStand (4).png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>572</integer>
				<key>y</key>
				<integer>663</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>ZhangJiStand (5).png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>846</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>ZhangJiStand (6).png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>604</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>ZhangJiStand (7).png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>ZhangJiStand (8).png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>ZhangJiStandDown (1).png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>886</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>ZhangJiStandDown (2).png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>ZhangJiStandDown (3).png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1131</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>ZhangJiStandDown (4).png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>1111</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ZhangJiStandDown (5).png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1373</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>ZhangJiStandDown (6).png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>1111</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ZhangJiStandDown (7).png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>1351</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>ZhangJiStandDown (8).png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>ZhangJiStandDown (9).png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ZhangJiAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>ZhangJiAnimation0.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>