<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BaMenJinSuo.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BeiDouQiXin.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Close.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>CloseSelect.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Enabled.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>214</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ErLongChuShui.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FormationBG.png</key>
			<dict>
				<key>width</key>
				<integer>968</integer>
				<key>height</key>
				<integer>603</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>603</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FormationDone.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FormationFrame.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>HeadFrame.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>JiChuZhenFa.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>JiuZiLianHuan.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LevelUp.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LevelUpSelect.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LiuDingLiuJia.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>PageEXT.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>PageEXTSelect.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ShiMianMaiFu.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>730</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>SiMenDouDi.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>TianDiSanCai.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WuHuQunYang.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>YiZiChangShe.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>883</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>C:/Program Files (x86)/CocoStudio/EditorDefaultRes/GUI/image.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIFormation0.png</string>
			<key>realTextureFileName</key>
			<string>UIFormation0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>